
    <div id="div-form" class="container">
        <img src="../../../assets/img/logo_transparent.png" width="250" class="rounded mx-auto d-block">
        <div class="abs-center">
            <form id="form-data" class="border p-3 form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <h3 class="title-form">Login</h3>
                <div class="form-group">
                    <label class="text-label" for="email">Your Email</label>
                    <div><span class="info-alert" *ngIf="!loginForm.valid">coloca un email valido</span></div>
                    <input type="email" [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" class="form-control" name="email" formControlName="email" id="email" class="form-control form-links">
                </div>
                <div class="form-group">
                    <label class="text-label" for="password">Password</label>
                    <div><span class="info-alert" *ngIf="!loginForm.valid">coloca un password</span></div>
                    <input type="password" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password"  name="password" id="password" class="form-control form-links">
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-w">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>