<div id="div-form" class="container">
    <img src="../../../assets/img/logo_transparent.png" width="250" class="rounded mx-auto d-block">
    <div class="abs-center">
        <form id="form-data" class="border p-3 form">
            <h3 class="title-form">SIGNUP</h3>
            <div class="form-group">
                <label class="text-label" for="name">Full name</label>
                <input type="name" name="name" id="name" class="form-control form-links">
            </div>
            <div class="form-group">
                <label class="text-label" for="email">Your Email</label>
                <input type="email" name="email" id="email" class="form-control form-links">
            </div>
            <div class="form-group">
                <label class="text-label" for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control form-links">
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary btn-w">SIGNUP</button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <span class="term">By Creating account You agree to the</span><br>
                    <span class="term"><a class="term-a" target="_blank">Terms of use</a> and <a class="term-a" target="_blank">Privacy Policy</a></span>
                </div>
            </div>
        </form>
    </div>
</div>